.wrapper {
    padding: 7.5% 12.5%;
    display: flex;
    gap: 15%;
    align-items: center;
}

.leftWrapper {
    width: 60%;
    display: flex;
    gap: 25px;
    align-self: flex-end;
}

.rightWrapper {
    width: 40%;
    position: relative;
    background: #4299e1;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 40px 0;
}

.header {
    font-size: 34px;
    padding: 10px 30px;
    font-weight: 600;
}

.description {
    padding: 10px 30px;
    font-size: 17px;
    text-align: justify;
}

.whiteLine {
    width: 50px;
    position: absolute;
    top: 0;
    right: -50px;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #e4e4e4;
}