.wrapper {
    padding: 7.5% 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 150px;

    .headerWrapper {
        display: flex;
        flex-direction: column;
        padding: 0 10px;

        .headerBox {
            font-weight: 700;
            font-size: 50px;

            .header {
                color: rgba(45, 55, 72, 1);
                position: relative;
                word-wrap: normal;

                div {
                    height: 15px;
                    left: 0;
                    z-index: -1;
                    background: #4299e1;
                    bottom: 8px;
                    position: absolute;
                }
            }

            p {
                color: #4299e1;
            }
        }

        .main {
            font-size: 16px;
            font-weight: 400;
            width: 40%;
            padding: 40px 0;
        }
    }

    .mainBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20%;

        .leftWrapper {
            display: flex;
            justify-content: flex-start;
            width: 60%;
            gap: 55px;
            padding: 40px 10px;
        }

        .rightWrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            background: #4299e1;
            color: #fff;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding: 40px 10px;

            .whiteLine {
                width: 50px;
                position: absolute;
                top: 0;
                right: -50px;
                height: 100%;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                background-color: rgb(219, 219, 219);
            }

            .headerBoxRight {
                font-size: 34px;
                padding: 10px 30px;
                color: #ffffff;
                font-weight: 600;
            }

            .description {
                padding: 10px 30px;
                font-size: 17px;
                color: rgb(214, 214, 214);
            }

            .buttonWrapper {
                padding: 10px 30px;

                button {
                    border-radius: 50px;
                    padding: 10px 15px;
                    background: #fff;
                    font-weight: 600;
                    color: #4299e1;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .wrapper {
        align-items: center;
        gap: 50px;

        .headerWrapper {
            align-self: center;

            .main {
                width: 100%;
            }
        }

        .mainBox {
            flex-direction: column;
            justify-content: center;
            gap: 100px;

            .leftWrapper {
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding: 10px 0;
                width: 80%;
                flex-wrap: wrap;
            }

            .rightWrapper {
                width: 80%;
                border-radius: 0;
                padding: 20px 5px;

                .headerBoxRight {
                    font-size: 28px;
                }

                .whiteLine {
                    height: 30px;
                    bottom: -30px;
                    top: auto;
                    left: 0;
                    right: 0;
                    width: 100%;
                    border-radius: 0 0 25px 25px;
                }

                .description {
                    padding: 10px 30px;
                    font-size: 17px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        .headerWrapper {
            .headerBox {
                font-size: 33px;
            }

            &:nth-child(1) {
                font-size: 14px;
            }
        }

        .mainBox {
            .leftWrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 100px;
                padding: 10px 0;
            }

            .rightWrapper {
                width: 100%;

                .headerBoxRight {
                    font-size: 23px;
                }

                .description {
                    font-size: 14px;
                }

                button {
                    font-size: 14px;
                }
            }
        }
    }
}