.wrapper {
    padding: 7.5% 12.5%;
    display: flex;
    gap: 15%;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.leftWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

.leftWrapper {
    button {
        padding: 10px 15px;
        border-radius: 50px;
    }
}

.headerBox {
    font-size: 50px;
    font-weight: 700;
    color: #8d27dd;

    .header {
        color: rgba(45, 55, 72, 1);
        position: relative;

        div {
            height: 15px;
            left: 0;
            z-index: -1;
            background: #8d27dd;
            bottom: 8px;
            position: absolute;
        }
    }
}

.description {
    color: rgba(45, 55, 72, 1);
    padding: 25px 0;
    font-size: 17px;
}

.purpleBtn {
    background: #8d27dd;
    color: #fff;
}

.rightImg {
    position: absolute;
    height: 600px;
    transform: rotate(20deg);
    right: -300px;
}

.topCenterImg {
    position: absolute;
    height: 80px;
    transform: rotate(-20deg);
    top: 10%;
    right: 30%;
}

.bottomCenterImg {
    position: absolute;
    height: 120px;
    transform: rotate(-40deg);
    bottom: 10%;
    right: 40%;
}
