.wrapper {
    padding: 10% 12.5%;
    display: flex;
    gap: 15%;
    align-items: center;
}

.leftWrapper,
.rightWrapper {
    width: 50%;
}

.rightWrapper {
    button {
        padding: 10px 15px;
        border-radius: 50px;
    }
}

.headerBox {
    font-size: 50px;
    font-weight: 700;
    color: #48BB78;

    .header {
        color: rgba(45, 55, 72, 1);
        position: relative;

        div {
            height: 15px;
            left: 0;
            z-index: -1;
            background: #48BB78;
            bottom: 8px;
            position: absolute;
        }
    }

}


.description {
    color: rgba(45, 55, 72, 1);
    padding: 25px 0;
    font-size: 17px;
}

.greenBtn {
    background: #48BB78;
    color: #fff;
}

.grayBtn {
    background: #EDF2F7;
    color: rgba(45, 55, 72, 1);
    margin-left: 25px;
}

/* right */

.leftWrapper {
    height: 400px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: contain;
        transform: rotate(-30deg);
        opacity: 0.4;
    }
}