.wrapper {
    font-family: "Work Sans";

    .logoBox {
        display: flex;
        align-items: center;
        padding: 30px 0;

        p {
            cursor: pointer;
            font-weight: 800;
            color: rgb(255, 255, 255);
            font-size: 25px;

            span {
                color: #8d27dd;
            }
        }
    }
}
