.wrapper {
    padding: 2.5% 12.5%;
    display: flex;
    gap: 15%;
    align-items: center;
    font-family: "Work Sans";
}

.leftWrapper,
.rightWrapper {
    width: 50%;
}

.leftWrapper {
    .logoBox {
        display: flex;
        align-items: center;

        p {
            cursor: pointer;
            font-weight: 800;
            padding-left: 20px;
            color: #000;
            font-size: 27px;

            span {
                color: #8d27dd;
            }
        }

        img {
            cursor: pointer;
            width: 40px;
            height: 40px;
        }
    }
}

.rightWrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 17px;

    .menu {
        display: flex;
        gap: 50px;

        li {
            color: #999;
            font-weight: 500;

            :hover {
                color: #000;
                transition: color 0.5s;
            }
        }
    }

    .hamburgerMenu {
        .hamburger {
            z-index: 11;
        }

        .hamburgerActive {
            right: 12.5%;
            top: 2%;
            position: fixed;
        }

        .menuBoxMobile {
            display: grid;
            place-items: center;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: transparent;
            opacity: 1;
            text-align: center;
            visibility: hidden;
            z-index: 10;
            transition: all 0.2s;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10%;
                height: 100%;

                li {
                    a {
                        transition: all 0.5s;
                        opacity: 0;
                    }

                    display: block;
                    opacity: 1;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    font-weight: 500;

                    :hover {
                        color: rgb(185, 185, 185);
                        transition: color 0.2s;
                    }

                    img {
                        height: 60px;
                        margin: 10px;
                    }
                }
            }
        }

        .menuBoxMobileActive {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            opacity: 1;
            z-index: 10;
            visibility: visible;

            ul {
                li {
                    z-index: 10;
                    opacity: 1;

                    a {
                        opacity: 1;
                    }
                }
            }
        }

        .menuBoxMobile::before {
            content: "";
            position: absolute;
            overflow: hidden;
            height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #8d27dd;
            transform: skew(-20deg) translateX(-300%);
            transition: all 0.35s 0.25s;
        }

        .menuBoxMobileActive::before {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media (max-width: 768px) {
    .leftWrapper {
        .logoBox {
            p {
                font-size: 20px;
            }

            img {
                width: 30px;
                height: 30px;
            }
        }
    }
}
